@model IEnumerable<Chapter3Project.Models.Set>

@{
    ViewData["Title"] = "Index";
}
<body style="background-color:cornsilk;">
<h1 style="background-color:darkolivegreen;border-radius:15px;text-align:center; margin-bottom:15px;">Index</h1>

<p style="text-align:center;">
    <a asp-action="Create" style=" color: antiquewhite;border-radius: 3px; background-color:burlywood;padding:5px;">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmiskiType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmiskiType)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" style="color:black;">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" style="color:black;">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" style="color:black;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>